<?xml version='1.0' encoding='utf-8'?>
<widget id="com.kliksob.klikapptabris" version="0.1.0">
  <name>KlikApp</name>
  <description>
    Example Tabris.js App
  </description>
  <author email="aris@mail.kliksob.com">
    Aris Riswanto
  </author>
  <access origin="*" />
  <plugin name="cordova-plugin-media" />
  <plugin name="cordova-plugin-network-information" />
  <plugin name="cordova-plugin-file" />
  <preference name="EnableDeveloperConsole" value="$IS_DEBUG" />
</widget>